body{
    margin: 0;

}



.loginPage {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('ui/icon/loginPage_background.jpg');
    background-size: cover;
    background-position: center center;
    /*border: 5px solid white;*/
    /*border: 2px solid white;*/
}